<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="shortcut icon"  href="/images/qq.ico">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/register_temp.css">
	<meta charset="UTF-8">
	<title>欢迎注册Tencent</title>
</head>
<body>
	<div class="container">
		<div class="col-xs-3">
			<a class="logo">QQ</a>
			<div id="left"></div>
		</div>
		<div class="col-xs-7">
			<div class="container">
				<div class="col-xs-3"></div>
				<div class="col-xs-4">
					<div class="welcome">欢迎注册QQ</div>
					<div class="header">每一天，乐在沟通</div>
					<form action="/xxx" method="post">
						<input type="text" class="form-control" placeholder="账号" id="username">
						<br>
						<input type="password" class="form-control" placeholder="密码" id="password">
						<br>
						<button type="submit" class="btn btn-primary" id="login_btn">立即注册</button>
						
					</form>
				</div>
				<div class="col-xs-3"></div>
			</div>
		</div>
	</div>
	
	<script src="js/bootstrap.js"></script>
	<script src="js/jquery.min.js"></script>
</body>
</html>
	
</div>